@{
    ViewData["Title"] = "Strona główna";
}
<main>
    <section>
        <h3>@ViewData["Title"]</h3>
        <p>Wybierz opcję z menu, a ta przeniesie cię na pożądaną podstronę.</p>
    </section>
</main>